var filters = {
  toFix: function (value) {
    return value.toFixed(2) // 此处2为保留两位小数，保留几位小数，这里写几    
  },
  toStr: function (value) {
    return value.toString()
  },
  toNum: function (value) {
    return value.toNumber()
  },
  huanhang: function (value) {
    var data1=value.replace('\\n', '\n')
    console.log("处理第一次数据",data1)
    return data1;
    // var data2=data1.replace('\\n', '\n')
    // console.log("处理第二次数据",data2)
    // var data3=data2.replace('\\n', '\n')
    // console.log("处理三次数据",data3)
    // var data4=data3.replace('\\n', '\n')
    // var data5=data4.replace('\\n', '\n')
    // return data5
  },
}

module.exports = {
  toFix: filters.toFix,
  toStr: filters.toStr,
  toNum: filters.toNum,//暴露接口调用
  huanhang:filters.huanhang
}