<!DOCTYPE html><!--[if IE]>  <html class="ie"> <![endif]-->
<html>
	<head>
		<meta charset="utf-8" />
		<title>
		</title>
		<link rel="stylesheet" type="text/css" href="../../static/032513293304_files/style.css" />
		<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.0.js"></script>
	</head>
	<body>
		<div class="stl_02">
			<div class="stl_03">
				<object data="../../static/032513293304_files/img_03.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:51em; height:66em;">
					<embed src="../../static/032513293304_files/img_03.svg" type="image/svg+xml" class="stl_04" />
				</object>
			</div>
			<div class="view">
				<div class="stl_05 stl_06">
					<div class="stl_01 stl_07" style="top:4.7504em; left:3.3355em;"><span class="stl_08 stl_09 stl_10">火把工具箱使用指南 &nbsp;</span></div>
					<div class="stl_01 stl_11" style="top:7.1254em; left:3.3355em;"><span class="stl_12 stl_09 stl_13">火把工具箱是一款专业的微信个人号管理工具，无需下载，微信扫一扫登录即可实现管理；能实现自动通过好友并回复、消息群发、私聊自 &nbsp;</span></div>
					<div class="stl_01 stl_14" style="top:8.1808em; left:3.3355em;"><span class="stl_12 stl_09 stl_13">动回复、好友自动入群、自动加群内好友等数多项强大功能，助你提升运营效率和社群活跃度。 &nbsp;</span></div>
					<div class="stl_01 stl_15" style="top:10.7199em; left:3.3355em;"><span class="stl_16 stl_09 stl_17">一、账号注册 &nbsp;</span></div>
					<div class="stl_01 stl_18" style="top:11.9238em; left:3.3595em;"><span class="stl_12 stl_09 stl_19">注册火把工具箱账号，关注公众号</span><span class="stl_20 stl_21 stl_22">“</span><span class="stl_12 stl_09 stl_19">火把工具箱</span><span class="stl_20 stl_21 stl_22">”</span><span class="stl_12 stl_09 stl_19">，联系客服获取注册邀请火种码，通过火种码完成注册，注册成功后登录进入管理后台。 &nbsp;</span></div>
					<div class="stl_01 stl_23" style="top:13.9044em; left:3.3595em;"><span class="stl_24 stl_21 stl_25" style="font-weight:bold; word-spacing:-0.1334em;">1.1 </span><span class="stl_26 stl_09 stl_27" style="word-spacing:-0.1584em;">机器人管理 &nbsp;</span></div>
					<div class="stl_01 stl_18" style="top:15.6179em; left:3.3595em;"><span class="stl_20 stl_21 stl_28">1</span><span class="stl_12 stl_09 stl_29">）选择</span><span class="stl_20 stl_21 stl_28">“</span><span class="stl_12 stl_09 stl_29">机器人管理</span><span class="stl_20 stl_21 stl_28">”</span><span class="stl_12 stl_09 stl_29">菜单栏，点击【添加账号】完成登录。（注：该页面管理机器人账号上</span><span class="stl_20 stl_21 stl_28">/</span><span class="stl_12 stl_09 stl_29">下线、注销等操作，选择</span><span class="stl_20 stl_21 stl_28">“</span><span class="stl_12 stl_09 stl_29">注销</span><span class="stl_20 stl_21 stl_28">”</span><span class="stl_12 stl_09 stl_29">后台不再显示该账号的所 &nbsp;</span></div>
					<div class="stl_01 stl_14" style="top:17.2961em; left:3.3595em;"><span class="stl_12 stl_09 stl_30">有记录，请谨慎选择） &nbsp;</span></div>
					<div class="stl_01 stl_18" style="top:33.2247em; left:3.3595em;"><span class="stl_20 stl_21 stl_31">2</span></div>
					<div class="stl_01 stl_18" style="top:33.2247em; left:3.7433em;"><span class="stl_12 stl_09 stl_32">）点击</span><span class="stl_20 stl_21 stl_33">“</span><span class="stl_12 stl_09 stl_32">添加账号</span><span class="stl_20 stl_21 stl_33">”</span><span class="stl_12 stl_09 stl_32">后，将跳出登录登录二维码，通过你自己的微信个人号扫一扫，扫码后请在手机上确认添加成功。 &nbsp;</span></div>
					<div class="stl_01 stl_23" style="top:52.7642em; left:3.3595em;"><span class="stl_24 stl_21 stl_34" style="font-weight:bold; word-spacing:-0.1066em;">1.2 </span><span class="stl_26 stl_09 stl_35" style="word-spacing:-0.1266em;">群管理 &nbsp;</span></div>
					<div class="stl_01 stl_18" style="top:54.4777em; left:3.3595em;"><span class="stl_20 stl_21 stl_31">1</span></div>
					<div class="stl_01 stl_18" style="top:54.4777em; left:3.7433em;"><span class="stl_12 stl_09 stl_36">）选择</span><span class="stl_20 stl_21 stl_37">“</span><span class="stl_12 stl_09 stl_36">群列表</span><span class="stl_20 stl_21 stl_37">”</span><span class="stl_12 stl_09 stl_36">，点击【添加群】，可开通实现群管理功能。 &nbsp;</span></div>
				</div>
			</div>
		</div>
		<div class="stl_02">
			<div class="stl_03">
				<object data="../../static/032513293304_files/img_07.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:51em; height:66em;">
					<embed src="../../static/032513293304_files/img_07.svg" type="image/svg+xml" class="stl_04" />
				</object>
			</div>
			<div class="view">
				<div class="stl_05 stl_06">
					<div class="stl_01 stl_18" style="top:18.5444em; left:3.3595em;"><span class="stl_20 stl_21 stl_31">2</span></div>
					<div class="stl_01 stl_18" style="top:18.5444em; left:3.7433em;"><span class="stl_12 stl_09 stl_32">）点击</span><span class="stl_20 stl_21 stl_33">“</span><span class="stl_12 stl_09 stl_32">添加群</span><span class="stl_20 stl_21 stl_33">”</span><span class="stl_12 stl_09 stl_32">后，将展示该机器人所有拥有的微信群列表，选择需要开启群管理功能的群后，点击【确定】进入开通页面 &nbsp;</span></div>
					<div class="stl_01 stl_18" style="top:35.8154em; left:3.3595em;"><span class="stl_20 stl_21 stl_31">3</span></div>
					<div class="stl_01 stl_11" style="top:36.4381em; left:3.7433em;"><span class="stl_12 stl_09 stl_30">）开通群管理功能，点击【开通火把】，开通成功后即可使用群精华、群引流、数据分析等群管理功能。（注：需付费） &nbsp;</span></div>
					<div class="stl_01 stl_15" style="top:54.2813em; left:3.3355em;"><span class="stl_16 stl_09 stl_17">二、私聊自动回复 &nbsp;</span></div>
					<div class="stl_01 stl_11" style="top:56.5877em; left:3.3355em;"><span class="stl_12 stl_09 stl_13">当指定好友私聊消息中包含关键词时，机器人将自动回复消息 &nbsp;</span></div>
					<div class="stl_01 stl_18" style="top:57.5001em; left:3.3595em;"><span class="stl_20 stl_21 stl_31">1</span></div>
					<div class="stl_01 stl_18" style="top:57.5001em; left:3.7433em;"><span class="stl_12 stl_09 stl_38">）选择</span><span class="stl_20 stl_21 stl_39">“</span><span class="stl_12 stl_09 stl_38">私聊自动回复</span><span class="stl_20 stl_21 stl_39">”</span><span class="stl_12 stl_09 stl_38">，开启</span><span class="stl_20 stl_21 stl_39">/</span><span class="stl_12 stl_09 stl_38">关闭新添加的好友默认开启消息自动回复，自定义设置自动回复的时间及内容 &nbsp;</span></div>
				</div>
			</div>
		</div>
		<div class="stl_02">
			<div class="stl_03">
				<object data="../../static/032513293304_files/img_11.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:51em; height:66em;">
					<embed src="../../static/032513293304_files/img_11.svg" type="image/svg+xml" class="stl_04" />
				</object>
			</div>
			<div class="view">
				<div class="stl_05 stl_06">
					<div class="stl_01 stl_18" style="top:20.5114em; left:3.3595em;"><span class="stl_20 stl_21 stl_31">2</span></div>
					<div class="stl_01 stl_18" style="top:20.5114em; left:3.7433em;"><span class="stl_12 stl_09 stl_40">）设置自动回复内容，点击【新增关键词】，自定义设置自动回复内容，点击</span><span class="stl_20 stl_21 stl_32">“+</span><span class="stl_12 stl_09 stl_40">关键词</span><span class="stl_20 stl_21 stl_32">”</span><span class="stl_12 stl_09 stl_40">可添加多条，内容支持文字、图片、链接，回复上限</span><span class="stl_20 stl_21 stl_32">5</span><span class="stl_12 stl_09 stl_40">条，关 &nbsp;</span></div>
					<div class="stl_01 stl_18" style="top:21.5668em; left:3.3595em;"><span class="stl_12 stl_09 stl_38">键词设置成功后点击</span><span class="stl_20 stl_21 stl_29">“</span><span class="stl_12 stl_09 stl_38">确定</span><span class="stl_20 stl_21 stl_29">”</span><span class="stl_12 stl_09 stl_38">完成。（注：内容编辑好后后台将展示回复样式，回复的内容支持上下移动</span><span class="stl_20 stl_21 stl_29">/</span><span class="stl_12 stl_09 stl_38">编辑</span><span class="stl_20 stl_21 stl_29">/</span><span class="stl_12 stl_09 stl_38">删除） &nbsp;</span></div>
					<div class="stl_01 stl_18" style="top:38.7899em; left:3.3595em;"><span class="stl_20 stl_21 stl_41">3</span><span class="stl_12 stl_09 stl_42">）设置自动回复的好友详情及数量，点击修改按钮，进入该机器人所属好友列表，勾选好友记为自定回复，取消勾选记为无需自动回复。（注：后台 &nbsp;</span></div>
					<div class="stl_01 stl_14" style="top:40.4681em; left:3.3595em;"><span class="stl_12 stl_09 stl_30">默认为未选择自动回复好友状态） &nbsp;</span></div>
					<div class="stl_01 stl_15" style="top:62.533em; left:3.3355em;"><span class="stl_16 stl_09 stl_17">三、消息群发 &nbsp;</span></div>
				</div>
			</div>
		</div>
		<div class="stl_02">
			<div class="stl_03">
				<object data="../../static/032513293304_files/img_15.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:51em; height:66em;">
					<embed src="../../static/032513293304_files/img_15.svg" type="image/svg+xml" class="stl_04" />
				</object>
			</div>
			<div class="view">
				<div class="stl_05 stl_06">
					<div class="stl_01 stl_11" style="top:3.6712em; left:3.3355em;"><span class="stl_12 stl_09 stl_13">消息定时或实时将消息群发给选择的好友或群聊。 &nbsp;</span></div>
					<div class="stl_01 stl_18" style="top:4.5836em; left:3.3595em;"><span class="stl_20 stl_21 stl_31">1</span></div>
					<div class="stl_01 stl_18" style="top:4.5836em; left:3.7433em;"><span class="stl_12 stl_09 stl_38">）选择</span><span class="stl_20 stl_21 stl_39">“</span><span class="stl_12 stl_09 stl_38">消息群发</span><span class="stl_20 stl_21 stl_39">”</span><span class="stl_12 stl_09 stl_38">菜单，点击【添加群发】，可查看群发列表、群发记录、发送对象、发送内容 &nbsp;</span></div>
					<div class="stl_01 stl_18" style="top:21.7107em; left:3.3595em;"><span class="stl_20 stl_21 stl_39">2</span><span class="stl_12 stl_09 stl_43">）进入</span><span class="stl_20 stl_21 stl_39">“</span><span class="stl_12 stl_09 stl_43">添加群发</span><span class="stl_20 stl_21 stl_39">”</span><span class="stl_12 stl_09 stl_43">页，自定义设置群发内容（支持文字、图文、链接，回复上限</span><span class="stl_20 stl_21 stl_39">5</span><span class="stl_12 stl_09 stl_43">条）；群发时间支持定时</span><span class="stl_20 stl_21 stl_39">/</span><span class="stl_12 stl_09 stl_43">实时发送、重复</span><span class="stl_20 stl_21 stl_39">/</span><span class="stl_12 stl_09 stl_43">不重复发送，可选择好友</span><span class="stl_20 stl_21 stl_39">/ &nbsp;</span></div>
					<div class="stl_01 stl_14" style="top:23.3889em; left:3.3595em;"><span class="stl_12 stl_09 stl_30">选择群聊 &nbsp;</span></div>
					<div class="stl_01 stl_15" style="top:41.5679em; left:3.3355em;"><span class="stl_16 stl_09 stl_17">四、加好友自定应答 &nbsp;</span></div>
					<div class="stl_01 stl_11" style="top:43.8743em; left:3.3355em;"><span class="stl_12 stl_09 stl_13">当有人向你发送新好友验证时，自动通过验证请求，并且可以设置消息自动回复 &nbsp;</span></div>
					<div class="stl_01 stl_18" style="top:44.7867em; left:3.3595em;"><span class="stl_20 stl_21 stl_19">1</span><span class="stl_12 stl_09 stl_44">）选择【加好友自定应答】，设置开启或关闭自动接收新好友，自定义设置回复内容（支持文字、图片、链接，回复上限</span><span class="stl_20 stl_21 stl_19">5</span><span class="stl_12 stl_09 stl_44">条），编辑好的回复内容 &nbsp;</span></div>
					<div class="stl_01 stl_14" style="top:46.4649em; left:3.3595em;"><span class="stl_12 stl_09 stl_30">可按照所需的排序上下移动，及重新编辑与删除。 &nbsp;</span></div>
				</div>
			</div>
		</div>
		<div class="stl_02">
			<div class="stl_03">
				<object data="../../static/032513293304_files/img_19.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:51em; height:66em;">
					<embed src="../../static/032513293304_files/img_19.svg" type="image/svg+xml" class="stl_04" />
				</object>
			</div>
			<div class="view">
				<div class="stl_05 stl_06">
					<div class="stl_01 stl_15" style="top:3.3798em; left:3.3355em;"><span class="stl_16 stl_09 stl_17">五、好友自动入群 &nbsp;</span></div>
					<div class="stl_01 stl_11" style="top:5.6861em; left:3.3355em;"><span class="stl_12 stl_09 stl_13">当好友发送入群关键词时，自动邀请该用户进入指定群 &nbsp;</span></div>
					<div class="stl_01 stl_18" style="top:6.5986em; left:3.3595em;"><span class="stl_20 stl_21 stl_31">1</span></div>
					<div class="stl_01 stl_18" style="top:6.5986em; left:3.7433em;"><span class="stl_12 stl_09 stl_28">）选择</span><span class="stl_20 stl_21 stl_45">“</span><span class="stl_12 stl_09 stl_28">好友自动入群</span><span class="stl_20 stl_21 stl_45">”</span><span class="stl_12 stl_09 stl_28">，点击【新增】，设置关键字。 &nbsp;</span></div>
					<div class="stl_01 stl_18" style="top:23.5338em; left:3.3595em;"><span class="stl_20 stl_21 stl_46">2</span><span class="stl_12 stl_09 stl_47">）进入新增关键词设置页，点击【</span><span class="stl_20 stl_21 stl_46">+</span><span class="stl_12 stl_09 stl_47">关键词】添加自动入群关键词，支持添加多个，可根据替补群名添加；设置入群人数上限，入群方式，开启或关 &nbsp;</span></div>
					<div class="stl_01 stl_14" style="top:25.212em; left:3.3595em;"><span class="stl_12 stl_09 stl_30">闭不邀请同一个用户进入多群。 &nbsp;</span></div>
					<div class="stl_01 stl_18" style="top:41.2846em; left:3.3595em;"><span class="stl_20 stl_21 stl_31">3</span></div>
					<div class="stl_01 stl_11" style="top:41.9073em; left:3.7433em;"><span class="stl_12 stl_09 stl_30">）设置替补群，当一个群进群人数达到上限后切换下一个群分配，点击【添加群】，勾选所需的替补群，完成后点击确定。 &nbsp;</span></div>
					<div class="stl_01 stl_15" style="top:60.1823em; left:3.3355em;"><span class="stl_16 stl_09 stl_17">六、自动加群用户为好友 &nbsp;</span></div>
					<div class="stl_01 stl_11" style="top:62.4886em; left:3.3355em;"><span class="stl_12 stl_09 stl_13">指定需要加好友的微信群，机器人自动给不是好友的用户发送好友请求 &nbsp;</span></div>
				</div>
			</div>
		</div>
		<div class="stl_02">
			<div class="view">
				<div class="stl_05 stl_06">
					<div class="stl_01 stl_11" style="top:2.9516em; left:3.3595em;"><span class="stl_12 stl_09 stl_30">内测中，即将开放 &nbsp;</span></div>
					<div class="stl_01 stl_11" style="top:4.7266em; left:3.3595em;"><span class="stl_12 stl_09 stl_30">使用教程到此结束，感谢您的阅读！ &nbsp;</span></div>
				</div>
			</div>
		</div>
	</body>
	<script>
        window.onunload = function () {
            wx.miniProgram.navigateBack({})
        }
    </script>
</html>